<% cache discussion do %>
  <div class="c-discussion-item">
    <small class="c-discussion-item__voting u-text-center">
      <% if user_signed_in? %>
        <%= link_to "",
            discussion_upvote_path(discussion.slug),
            class: "js-vote c-vote c-vote--upvote icon-upvote u-no-decoration
                    #{'c-vote--chosen' if user_signed_in? && discussion.current_user_vote == 1}" %><br>
        <span class="js-vote-count u-font-monospace"><%= discussion.votes %></span><br>
        <span
          class="hint--right c-vote--downvote-tip"
          aria-label="This is not a dislike button. Downvote when a topic is unhelpful, poorly written, or innappropriate."
        >
          <%= link_to "",
              discussion_downvote_path(discussion.slug),
              class: "js-vote c-vote c-vote--downvote icon-downvote u-no-decoration
                      #{'c-vote--chosen' if user_signed_in? && discussion.current_user_vote == -1}" %>
        </span>
      <% else %>
        <%= link_to "", login_path, class: "c-vote c-vote--upvote icon-upvote u-no-decoration" %><br>
        <span class="js-vote-count u-font-monospace"><%= discussion.votes %></span><br>
        <%= link_to "", login_path, class: "c-vote c-vote--downvote icon-downvote u-no-decoration" %>
      <% end %>
    </small>
    <div class="c-discussion-item__content u-text-darkish-gray">
      <%= link_to discussion_path(discussion.slug), class: "c-discussion-item__link" do %>
        <h6 class="c-discussion-item__title u-no-bottom-margin u-base-line-height">
          <%= discussion.title %>
        </h6>
      <% end %>
      <div class="c-discussion-item__info u-font-monospace">
        <span><%= time_ago_in_words(discussion.created_at) %> ago</span> &nbsp;&bull;&nbsp;
        <span><%= discussion.created_by %></span> &nbsp;&bull;&nbsp;
        <%= link_to "#{discussion.comments_count} comments", discussion_path(discussion.slug, anchor: "comments") %>
        <% if probably_deletable?(discussion) %>
          &nbsp;&bull;&nbsp;
          <%= link_to "Delete",
              discussion_path(discussion),
              method: :delete,
              data: { confirm: "Are you sure you want to delete your post?" }  %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
