<div class="c-discussion-item">
  <small class="c-discussion-item__voting u-text-center">
    <%= link_to "", discussion_upvote_path(discussion.slug), class: 'js-vote c-vote c-vote--upvote icon-upvote u-no-decoration' %><br>
    <span class="js-vote-count u-font-monospace"><%= discussion.votes %></span><br>
    <span class="hint--right c-vote--downvote-tip" aria-label="This is not a dislike button. Downvote when a topic is unhelpful, poorly written, or innappropriate.">
      <a href="#" class="icon-downvote c-vote c-vote--downvote u-no-decoration"></a>
    </span>
  </small>
  <div class="c-discussion-item__content">
    <%= link_to discussion_path(discussion.slug), class: "c-discussion-item__link" do %>
      <h6 class="c-discussion-item__title u-no-bottom-margin u-base-line-height">
        <%= discussion.title %>
      </h6>
    <% end %>
    <div class="c-discussion-item__info u-font-monospace">
      <span><%= time_ago_in_words(discussion.created_at) %> ago</span> &nbsp;&bull;&nbsp;
      <span><%= discussion.created_by %></span> &nbsp;&bull;&nbsp;
      <%= link_to discussion_path(discussion.slug, anchor: "comments") do %>
        <%= discussion.comments_count %> comments
      <% end %>
    </div>
  </div>
</div>
