<section class="v-discussions u-large-vertical-padding">
  <div class="o-container u-bottom-padding">
    <div class="o-grid o-grid--small-padding">
      <div class="o-grid__cell o-grid__cell--4 u-relative">
        <h1>The QBE Discussion</h1>
        <h6 class="c-sub-heading u-font-normal u-font-monospace u-base-line-height">
          Will you join the conversation?
        </h6>
        <div class="u-double-push-down">
          <%= link_to "Add a new topic", new_discussion_path, class: "c-button c-button--primary" %>
        </div>
      </div>
      <div class="o-grid__cell o-grid__cell--8 u-push-down">
        <div class="u-font-monospace">
          Sorted by:
          <%= current_user.present? %>
          <label class="c-sort-order-label">
            <% if params[:sort] == 'new' %>
              <span class="u-underline">New</span>
            <% elsif params[:sort] == 'old' %>
              <span class="u-underline">Old</span>
            <% else %>
              <span class="u-underline">Top</span>
            <% end %>
            <i class="icon-arrow-down"></i>
            <input type="checkbox" id="sort_order" class="c-sort-order-checkbox">
            <div class="c-sort-order c-shadow u-radius u-bg-white">
              <%= link_to "Top", discussions_path, class: 'u-no-decoration u-display-block' %>
              <%= link_to "New", discussions_path(sort: 'new'), class: 'u-no-decoration u-display-block' %>
              <%= link_to "Old", discussions_path(sort: 'old'), class: 'u-no-decoration u-display-block' %>
            </div>
          </label>
        </div>
        <div class="c-card c-card--no-shadow u-radius u-push-down">
          <div class="c-card__content c-card__content--discussions">
            <div class="c-discussion-items u-relative">
              <% if @discussions.present? %>
                <% if user_signed_in? %>
                  <%= render partial: 'discussion', collection: @discussions %>
                <% else %>
                  <%= render partial: 'discussion', collection: @discussions, cached: true %>
                <% end %>
              <% else %>
                <p class="u-double-push-down">
                  Looks like no one has added a topic yet. How about
                  <%= link_to "starting the conversation", new_discussion_path %>?
                </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% content_for :javascript do %>
  QBE.instances.voting = new QBE.Voting();
<% end %>
