<section class="v-home-banner u-text-white u-text-center">

  <%= fancy_image_tag "banner-large.jpg",
        use_background: true,
        id: "home-image",
        aspect: 1088/2880.0 %>

  <div class="o-container">
    <h1 class="v-home-banner__heading u-text-white u-font-bold u-display-inline-block">
      Question-Behavior Effect
    </h1>
    <div class="o-grid u-text-left u-push-down">
      <div class="o-grid__cell o-grid__cell--6 v-home-callout">
        <h5 class="u-text-white u-font-normal u-no-margin">
          Will we see you in Berlin? Will you join us at the Roundtable?
          Will you help contribute to furthering this area of research?
        </h5>
      </div>
    </div>
  </div>
</section>

<section class="u-large-bottom-padding">
  <div class="o-container v-home-roundtable-container">
    <div class="o-grid">
      <div class="v-home-roundtable-image o-grid__cell o-grid__cell--8 u-double-push-down">
        <%= fancy_image_tag("question.jpg", class: "u-push-down", aspect: 928/1600.0) %>
      </div>

      <div class="v-home-roundtable-cell o-grid__cell o-grid__cell--6 o-grid__cell--pull-2">
        <div class="v-home-roundtable c-xwide-shadow u-bg-white u-large-bottom-padding u-radius u-relative">
          <div class="o-countdown u-bg-light-gray">
            <div class="o-countdown__number" data-countdown="days">&nbsp;</div>
            <div class="o-countdown__number" data-countdown="hours">&nbsp;</div>
            <div class="o-countdown__number" data-countdown="minutes">&nbsp;</div>
            <div class="o-countdown__number" data-countdown="seconds">&nbsp;</div>
          </div>
          <h2 class="u-no-bottom-margin u-push-down">The Roundtable</h2>
          <h5 class="c-sub-heading u-font-normal u-font-monospace">ACR, October 27, 2016</h5>
          <p>Join us as we challenge theoretical perspectives and facilitate further collaboration on the question-behavior effect.</p>
          <a
            href="http://www.acrweb.org/acr/Public/index.aspx" target="_blank"
            class="c-button c-button--accent u-display-inline-block u-push-down"
          >Meet us in Berlin</a>
        </div>
      </div>
    </div>
    <div class="o-grid u-push-down">
      <div class="o-grid__cell o-grid__cell--8 o-grid__cell--offset-2 u-double-push-down u-text-right u-relative">
        <h1>What is the question-behavior effect?</h1>
      </div>
      <div class="o-grid__cell o-grid__cell--6 o-grid__cell--offset-2 u-text-left u-push-down" style="">
        <p>For 40 years, consumer psychologists have explored the nature of the question-behavior effect. A <a href="http://www.sciencedirect.com/science/article/pii/S1057740815001102" target="_blank">new meta-analysis of the effect</a> finds varying support for four over-arching theoretical mechanisms: attitudes, consistency, fluency, &amp; motivations.</p>
        <p>In brief, the question-behavior effect is a behavioral influence technique whereby asking someone about the future performance of a behavior changes the likelihood of that person performing the questioned behavior in the future.</p>
      </div>
    </div>
  </div>
</section>

<section class="u-bg-white u-large-vertical-padding">
  <div class="o-container u-push-down">
    <div class="o-grid">
      <h1 class="o-grid__cell o-grid__cell--12">Recent Talk</h1>
    </div>
    <div class="o-grid o-grid--small-padding u-push-down">
      <div class="o-grid__cell o-grid__cell--3 v-home__talk-item">
        <a
          href="http://www.huffingtonpost.com/entry/psychology-new-years-resolutions_us_5683e286e4b0b958f65ad409"
          class="c-card u-bg-light-gray" target="_blank"
        >
          <%= fancy_image_tag('huffington.jpg', aspect: 352/528.0) %>
          <span class="c-card__content">
            <span class="c-card__category">Press</span>
            <p class="u-font-bold u-font-sans-serif">Everything you need to know about making new year's resolutions</p>
            <span href="#" class="c-card__ref">Huffington Post</span>
          </span>
        </a>
      </div>
      <div class="o-grid__cell o-grid__cell--3 v-home__talk-item">
        <a
          href="http://www.cbsnews.com/news/how-to-motivate-others-to-stick-with-new-years-resolutions/"
          class="c-card u-bg-light-gray" target="_blank"
        >
          <%= fancy_image_tag('cbs.jpg', aspect: 528/528.0) %>
          <span class="c-card__content">
            <span class="c-card__category">Press</span>
            <p class="u-font-bold u-font-sans-serif">How to make New Year's resolutions stick? Ask, don't tell</p>
            <span href="#" class="c-card__ref">CBS News</span>
          </span>
        </a>
      </div>
      <div class="o-grid__cell o-grid__cell--3 v-home__talk-item">
        <a
          href="http://www.sciencedirect.com/science/article/pii/S1057740815001102"
          class="c-card u-bg-light-gray" target="_blank"
        >
          <%= fancy_image_tag('psychology.jpg', aspect: 352/528.0) %>
          <span class="c-card__content">
            <span class="c-card__category">Paper</span>
            <p class="u-font-bold u-font-sans-serif">A Meta-Analytic Synthesis of the Question-Behavior Effect</p>
            <span href="#" class="c-card__ref">Journal of Consumer Psychology</span>
          </span>
        </a>
      </div>
      <div class="o-grid__cell o-grid__cell--3 v-home__talk-item">
        <%= link_to discussions_path, class: "c-card u-bg-primary u-text-white u-text-white--hover" do %>
          <span class="c-card__content">
            <h3 class="u-text-white u-push-down">Join the Discussion</h3>
            <p>Add your voice to the ongoing discussion and discovery.</p>
          </span>
        <% end %>
      </div>

    </div>
  </div>
</section>

<% content_for :javascript do %>
  QBE.instances.countdown = new QBE.ACRCountdown();
  QBE.instances.loadImages = new QBE.LoadImages();
<% end %>
