<!doctype html>
<html>
<head>
  <title>The Question-Behavior Effect</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', async: true %>
  <link href="https://fonts.googleapis.com/css?family=Inconsolata:400|Lato:300,400,700" rel="stylesheet">
</head>
<body>
  <%= render partial: 'shared/header' %>

  <main class="u-bg-light-gray">
    <%= yield %>
  </main>

  <%= render partial: 'shared/footer' %>

  <script>
    function waitForJS() {
      if (document.documentElement.hasAttribute("data-turbolinks-preview")) {
        return false;
      }

      if (window.QBE && QBE.isReady) {
        clearTimeout(window.waitForJSTimer);
        QBE.instances = {};
        <%= yield :javascript %>
      } else {
        return window.waitForJSTimer = setTimeout(waitForJS, 250);
      }
    };

    waitForJS();
  </script>

  <% if Rails.env.production? %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-49882324-2', 'auto');
    ga('send', 'pageview');
  </script>
  <% end %>

  <div id="outdated_browser_wrap" data-turbolinks-permanent>
    <%= stylesheet_link_tag 'outdated-browser', media: 'screen' %>
    <%= javascript_include_tag 'outdated-browser' %>
    <div id="outdated">
      <h6>Your browser is out-of-date!</h6>
      <p class="u-font-sans-serif">We recommend updating your browser in order to best experience this site. <a id="btnUpdateBrowser" href="http://outdatedbrowser.com/">Update my browser now</a></p>
      <p class="last"><a href="#" id="btnCloseUpdateBrowser" title="Close">&times;</a></p>
    </div>
    <script>
      outdatedBrowser({
        bgColor: '#f25648',
        color: '#ffffff',
        lowerThan: 'transform',
        languagePath: ''
      });
    </script>
  </div>

</body>
</html>
